#main{
    margin-top:120px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    background-color:#ccffff;
}
#title{
    margin-top:30px;
    margin:auto;
    font-size:50px;
    text-align:center;
}
#href{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:10%;
    margin-right:10%;
    width:80%;
    height:40px;
    line-height:32px;
    font-size:32px;
}
#submit{
    display:block;
    width:80px;
    height:40px;
    margin:0 auto;
    text-align:center;
}
#top,#bottom{
    height:30px;
}
